/* 
COLORS:
  light #ECEFA4 rgb(236, 239, 164)
  Dark #D9DD6B rgb(217, 221, 107)

  used: 
  light #D54C4C rgb(213, 76, 76)
  Dark #8D2828 rgb(141, 40, 40)
*/
$color-primary-dark: #8d2828;
$color-primary-light: #d54c4c;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
